//color
$gold:#D5966C;
$black:#151515;
$dark-grey:#444444;
$white:#FFFFFF;

//font-family
$font-primary:"Big Shoulders", sans-serif;
$font-secondary:"Outfit", sans-serif;

//breaktpoints
$bp-tablet:768px;
$bp-tablet-horizontal:1024px;
$bp-desktop:1200px;
$bp-desktop-xl:1440px;


